<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @sabre_lodging.email_address %>
</p>

<p>
  <strong>Itinerary reference:</strong>
  <%= @sabre_lodging.itinerary_reference %>
</p>

<p>
  <strong>Reference term:</strong>
  <%= @sabre_lodging.reference_term %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sabre_lodging.name %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @sabre_lodging.confirmation_number %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @sabre_lodging.item_name %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @sabre_lodging.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @sabre_lodging.end_date_time %>
</p>

<p>
  <strong>City:</strong>
  <%= @sabre_lodging.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sabre_lodging.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sabre_lodging.country %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @sabre_lodging.street_address %>
</p>

<p>
  <strong>Airport code:</strong>
  <%= @sabre_lodging.airport_code %>
</p>

<%= link_to 'Edit', edit_sabre_lodging_path(@sabre_lodging) %> |
<%= link_to 'Back', sabre_lodgings_path %>
