<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @rail.email_address %>
</p>

<p>
  <strong>Itinerary reference:</strong>
  <%= @rail.itinerary_reference %>
</p>

<p>
  <strong>Reference term:</strong>
  <%= @rail.reference_term %>
</p>

<p>
  <strong>Name:</strong>
  <%= @rail.name %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @rail.confirmation_number %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @rail.item_name %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @rail.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @rail.end_date_time %>
</p>

<p>
  <strong>City:</strong>
  <%= @rail.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @rail.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @rail.country %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @rail.street_address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @rail.zip_code %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @rail.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @rail.long %>
</p>

<p>
  <strong>Context:</strong>
  <%= @rail.context %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @rail.reference %>
</p>

<p>
  <strong>Start date two:</strong>
  <%= @rail.start_date_two %>
</p>

<p>
  <strong>End date two:</strong>
  <%= @rail.end_date_two %>
</p>

<p>
  <strong>Context two:</strong>
  <%= @rail.context_two %>
</p>

<p>
  <strong>Reference two:</strong>
  <%= @rail.reference_two %>
</p>

<%= link_to 'Edit', edit_rail_path(@rail) %> |
<%= link_to 'Back', rails_path %>
