<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @manual_lodging.email_address %>
</p>

<p>
  <strong>Itinerary reference:</strong>
  <%= @manual_lodging.itinerary_reference %>
</p>

<p>
  <strong>Reference term:</strong>
  <%= @manual_lodging.reference_term %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manual_lodging.name %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @manual_lodging.confirmation_number %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @manual_lodging.item_name %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @manual_lodging.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @manual_lodging.end_date_time %>
</p>

<p>
  <strong>City:</strong>
  <%= @manual_lodging.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @manual_lodging.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @manual_lodging.country %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @manual_lodging.street_address %>
</p>

<p>
  <strong>Airport code:</strong>
  <%= @manual_lodging.airport_code %>
</p>

<%= link_to 'Edit', edit_manual_lodging_path(@manual_lodging) %> |
<%= link_to 'Back', manual_lodgings_path %>
