<p id="notice"><%= notice %></p>

<h1>Listing Food Drinks</h1>

<table>
  <thead>
    <tr>
      <th>Email address</th>
      <th>Itinerary reference</th>
      <th>Reference term</th>
      <th>Name</th>
      <th>Confirmation number</th>
      <th>Item name</th>
      <th>Start date time</th>
      <th>End date time</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Street address</th>
      <th>Zip code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_drinks.each do |food_drink| %>
      <tr>
        <td><%= food_drink.email_address %></td>
        <td><%= food_drink.itinerary_reference %></td>
        <td><%= food_drink.reference_term %></td>
        <td><%= food_drink.name %></td>
        <td><%= food_drink.confirmation_number %></td>
        <td><%= food_drink.item_name %></td>
        <td><%= food_drink.start_date_time %></td>
        <td><%= food_drink.end_date_time %></td>
        <td><%= food_drink.city %></td>
        <td><%= food_drink.state %></td>
        <td><%= food_drink.country %></td>
        <td><%= food_drink.street_address %></td>
        <td><%= food_drink.zip_code %></td>
        <td><%= link_to 'Show', food_drink %></td>
        <td><%= link_to 'Edit', edit_food_drink_path(food_drink) %></td>
        <td><%= link_to 'Destroy', food_drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food drink', new_food_drink_path %>
