<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @food_drink.email_address %>
</p>

<p>
  <strong>Itinerary reference:</strong>
  <%= @food_drink.itinerary_reference %>
</p>

<p>
  <strong>Reference term:</strong>
  <%= @food_drink.reference_term %>
</p>

<p>
  <strong>Name:</strong>
  <%= @food_drink.name %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @food_drink.confirmation_number %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @food_drink.item_name %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @food_drink.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @food_drink.end_date_time %>
</p>

<p>
  <strong>City:</strong>
  <%= @food_drink.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @food_drink.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @food_drink.country %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @food_drink.street_address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @food_drink.zip_code %>
</p>

<%= link_to 'Edit', edit_food_drink_path(@food_drink) %> |
<%= link_to 'Back', food_drinks_path %>
