<p id="notice"><%= notice %></p>

<p>
  <strong>Email address:</strong>
  <%= @ground_transportation.email_address %>
</p>

<p>
  <strong>Itinerary reference:</strong>
  <%= @ground_transportation.itinerary_reference %>
</p>

<p>
  <strong>Reference term:</strong>
  <%= @ground_transportation.reference_term %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ground_transportation.name %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @ground_transportation.confirmation_number %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @ground_transportation.item_name %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @ground_transportation.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @ground_transportation.end_date_time %>
</p>

<p>
  <strong>City:</strong>
  <%= @ground_transportation.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @ground_transportation.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ground_transportation.country %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @ground_transportation.street_address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @ground_transportation.zip_code %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @ground_transportation.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @ground_transportation.long %>
</p>

<%= link_to 'Edit', edit_ground_transportation_path(@ground_transportation) %> |
<%= link_to 'Back', ground_transportations_path %>
