<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to 'Air Posts', air_posts_path, class: "btn btn-info btn-md"  %>
  <%= link_to 'Activities', activities_path, class: "btn btn-info btn-md"  %>
  <%= link_to 'attractions', attractions_path, class: "btn btn-info btn-md"  %>
  <%= link_to 'car_rentals', car_rentals_path, class: "btn btn-info btn-md"  %>
  <% link_to 'cruises', cruises_path, class: "btn btn-info btn-md"  %>
  <% link_to 'ferries', ferries_path, class: "btn btn-info btn-md"  %>
  <% link_to 'food_drinks', food_drinks_path, class: "btn btn-info btn-md"  %>
  <% link_to 'ground_transportations', ground_transportations_path, class: "btn btn-info btn-md"  %>
  <% link_to 'manual_lodgings', manual_lodgings_path, class: "btn btn-info btn-md"  %>
  <% link_to 'meetings', meetings_path, class: "btn btn-info btn-md"  %>
  <% link_to 'rails', rails_path, class: "btn btn-info btn-md"  %>
  <% link_to 'sabre_lodgings', sabre_lodgings_path, class: "btn btn-info btn-md"  %>
</div>
<hr>
<div class="container">

<div class="col-lg-12">
  <div class="panel panel-primary">
      <div class="panel-heading">
          Getting Started
      </div>
      <div class="panel-body">
        <p> This is a temporary web app to help speed up the process of creating trip XML to post in Postman for TripCase and GetThere integration. <strong>This site is intended for authorized users only</strong></p>
        <p> For now, the only trip item this site supports is an air item. If need arises for other types of trip items I will add them. </p>
        <p> Click the 'Air Posts' button above, this will redirect you to the index of all posts made so far. You can choose one of these posts if you want, or click new air post and make your own. Have your GetThere trip information handy and fill out the form. When you submit, you will redirect to a xml page. Copy this xml and post it into your postman.</p>
      </div>
    </div>
  </div>
</div>
<hr>

