<p id="notice"><%= notice %></p>
<div class="container">
  --------->
  <%= link_to 'New Post', new_post_path, class: "btn btn-info btn-lg"  %>
  <---------
</div>
<hr>
<div class="container">
<h3>previous posts</h3>
<% @posts.reverse.each do |post| %>
<div class="col-lg-8">
  <div class="panel panel-primary">
      <div class="panel-heading">
          <%= post.departure_airport %> - <%= post.arrival_airport %>
      </div>
      <div class="panel-body">
        <ul>
  
        <li>email_address: <strong><%= post.email_address %></strong></li>
        <li>itinerary_reference: <strong><%= post.itinerary_reference %></strong></li>
        <li>name: <strong><%= post.name %></strong></li>
        <li>airline_code: <strong><%= post.airline_code %></strong></li>
        <li>confirmation_number: <strong><%= post.confirmation_number %></strong></li>
        <li>flight_number: <strong><%= post.flight_number %></strong></li>
        <li>arrival_date_time: <strong><%= post.arrival_date_time %></strong></li>
        <li>departure_date_time: <strong><%= post.departure_date_time %></strong></li>
        <li>departure_airport: <strong><%= post.departure_airport %></strong></li>
        <li>arrival_airport: <strong><%= post.arrival_airport %></strong></li>
        </ul>
         <%= link_to 'VIEW', post, class: "btn btn-primary btn-lg" %>
         <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default btn-sm"  %>
         <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
</div>
<hr>
<br><br>
<div class="container">
  <div class="paginator">
    <%= will_paginate @recipes %>
  </div>
</div>

