<p id="notice"><%= notice %></p>

<xmp>
<?xml version="1.0" encoding="UTF-8"?>
<ImportItineraryRequest xmlns="http://tripcase.com/api/partner" UserEmail="<%= @attraction.email_address%>" Version="1.0">
 <PartnerCredentials AuthToken="773ab4aa78f00de5e9401573e41bc8809a65cf6fd3f964bcfd56e322edf276363d338930132270d7a513925ec90fae6c01894cbe61236e8ffa5cf5866dd3d1f3" />
 <Itinerary Reference="<%= @attraction.itinerary_reference %>" ReferenceTerm="<%= @attraction.reference_term %>" Name="<%= @attraction.name %>">
  <LocationEvent Type="attraction" ConfirmationNumber="<%= @attraction.confirmation_number %>" Name="<%= @attraction.name %>" StartDateTime="<%= @attraction.start_date_time %>" EndDateTime="<%= @attraction.end_date_time %>">
     <Location>
         <Address City="<%= @attraction.city %>" State="<%= @attraction.state %>" Postal="<%= @attraction.zip_code %>" Country="<%= @attraction.country %>">
              <Line><%= @attraction.street_address %></Line>
         </Address>
     </Location>
  </LocationEvent>
 </Itinerary>
</ImportItineraryRequest>
</xmp>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>
